Makefile
*.log
*.swp
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.la
*.lo
*.o
*~
Makefile.in
aclocal.m4
config.*
configure
autom4te.cache
compile
install-sh
missing
ltmain.sh
depcomp
stamp-*
libtool
tap-driver.sh
test-driver
.deps
.libs
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
.dirstamp
*.trs
/cscope.*
/tags
telemd
autoscan.log
configure.scan
tprobe
hprobe
bertprobe
crashprobe
journalprobe
telem-record-gen
klogscanner
oopsprobe
pstoreclean
pstoreprobe
telem_journal
make.out
types_c.taghl
src/recomp.sh
src/*.so
src/gcc.out
tests/demo
tests/check_config
tests/check_daemon
tests/check_libtelemetry
tests/check_probes
src/data/*.path
src/data/*.service
src/data/*.socket
src/data/telemetrics.conf
src/data/telemetrics-dirs.conf
src/data/libtelemetry.pc
src/data/40-crash-probe.conf
