[Unit]
Description=Daily Heartbeat for Telemetrics
ConditionPathExists=/etc/telemetrics/opt-in

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true

[Install]
WantedBy=timers.target
